@font-face {
    font-family: "editundo";
    src: url('editundo.woff2') format('woff2'),
         url('editundo.woff') format('woff'),
         url('editundo.ttf') format('truetype');
    /* Add other font formats here if needed */
}

.container {

    justify-content: center;
}

.navbar {
    background-color: #4800ff;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    
    font-family: "editundo";
}

.navbar a {
    margin: 0 15px; /* Add some horizontal spacing between the links if needed */
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: yellow;
}


body {

   justify-content: center; 
   font-family: "editundo";
    background-color: #000;
    color: #fff;
    margin: 0;
    background: blue;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */

}
.photoArray {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Adjust the gap between images as needed */
    padding: 5px;
 
}

.photoArray img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 1px solid #4800ff;
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}


.heroContainer {
    text-align: center;
}

.herotext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Set the container height to the full viewport height */
    font-size: 75px;
    background: blue;
    margin-bottom: 10px; /* Add margin to separate from the icons */
}

.heroIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



p {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.contactform {
    display: flex;
    max-width: 100%;
    justify-content: center;
}



.footerNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Push the footer to the bottom */
    background-color: #4800ff;
    color: white;
    text-align: justify;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    font-family: "editundo";
}

.footerNav a:hover {
    color: yellow;
}

.row{
    text-align: center;
    padding: 5%;
}

/* For screens larger than or equal to 768px (desktop layout) */
@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        /* Adjust the gap as needed */
        padding: 5%;
        /* Add padding to the sides */

    }

    .column img {
        max-width: 20vw;
        /* Make images responsive */
        height: auto;
        /* Maintain aspect ratio */
        border-radius: 50px;
     

    }

    .indexrow {

        display: grid;
        grid-template-columns: 33.3% calc(66.6% - 20px);
        gap: 20px;
        /* Adjust the gap as needed */
        padding: 0 20px;
        /* Add padding to the sides */
        align-items: center;

    }


}

@media (max-width: 767px) {
    .row {
        display: block;
        padding: 0 10px;

    }

    .column {
        margin-bottom: 20px;
        /* Add spacing between mobile layout columns */
        text-align: center;
        padding-top: 5%;
    }

    .column img {
        max-width: 60vw;
        /* Make images responsive */
        height: auto;
        /* Maintain aspect ratio */
        border-radius: 55px;

    }
}

/* Style for regular (unvisited) links */
a {
    text-decoration: none;
    /* Remove underline */
    color: white;
    /* Change link color */
}



@keyframes myAnim {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}