/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-size: large;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: white;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-list a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;

}

.nav-list a:hover {
    color: #ff9900;
}

.header {
    text-align: center;
    
}

.header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header p {
    font-size: 24px;
    
}

/* For screens larger than or equal to 768px (desktop layout) */
@media (min-width: 768px) {
    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px; /* Adjust the gap as needed */
      padding: 0 20px; /* Add padding to the sides */
    }
    
    .column img {
      max-width: 20vw; /* Make images responsive */
      height: auto; /* Maintain aspect ratio */
      border-radius: 50px;
    }
  }
  
  /* For screens smaller than 768px (mobile layout) */
  @media (max-width: 767px) {
    .row {
      display: block; /* Change to block layout for mobile */
      padding: 0 10px; /* Add padding to the sides */
      
    }
    
    .column {
      margin-bottom: 20px; /* Add spacing between mobile layout columns */
      text-align: center;
    }
    
    .column img {
        max-width: 60vw; /* Make images responsive */
      height: auto; /* Maintain aspect ratio */
      border-radius: 55px;
    }
  }
  
  /* Style for regular (unvisited) links */
a {
    text-decoration: none; /* Remove underline */
    color: white; /* Change link color */
  }
  

  
  /* Style for hovered links */
  p:hover {
    color: #ff9900;
  }
  
  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
    gap: 20px;
}
.blog-post {
    
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center both image and title vertically */
    padding: 20px;
    border: 1px solid #ccc;
   
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.blog-post img {
    width:  300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 55px;
}

.blog-post:hover {
    color: #ff9900;
  }

.blog-post h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    
}

@media (max-width: 768px) {
    /* Mobile styles */
    .blog-container {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
}

#searchContainer {
    text-align: center;
    margin-bottom: 20px;
}
#searchInput {
    width: 70%;
    padding: 10px;
}

.fb-share-button {
    display: block;
}

.fb_iframe_widget{
    display: block;
}

.sharebtn{
    display: block;
}